<div class="form-container">
    <h1>User Form</h1>
    <div class="form-card">
        <form>
            <div class="first-name">
                <label for="firstname">First Name </label>
                <input type="text" id="firstname" name="firstname">
            </div>

            <div class="last-name">
                <label for="lastname">Last Name </label>
                <input type="text" id="lastname" name="lastname">
            </div>

            <div class="address-grp">
                <div class="city form-group">
                    <label for="city">City </label>
                    <input type="text" id="city" name="city">
                </div>

                <div class="state form-group">
                    <label for="city">State </label>
                    <input type="text" id="state" name="state">
                </div>
            </div>

            <button class="submit-btn" type="submit">Submit</button>
        </form>
    </div>
</div>
