<h1>Hands-on Exercise</h1>

<div class="questions">
    <ol>
        <li>Create a form using Form Builder</li>
        <li>Form will have two input fields: First name and Last Name</li>
        <li>Add the subgroup named Address which will have City and State inputs</li>
        <li>Bind the template form to the model</li>
        <li>Populate the form with initial values on component load</li>
        <li>Make all the form controls required and set minimum length to 2</li>
        <li>Display error for first and last name if not valid</li>
        <li>Create a button named Change City. When clicked, change the name of the city</li>
        <li>Use valueChanges event to detect if first name is set to Test, log an output in the console that <i>Test names are not allowed</i></li>
        <li>Add submit button which will be disabled until the form is invalid</li>
        <li>Add Reset button which will reset the form</li>
    </ol>
</div>
